.section {
  padding: 1rem;
  border-radius: 0.25rem;
  // border: 1px solid darkblue;
  background-color: white;
  margin-bottom: 1rem;
  text-align: left;
  width: 90%;
  display: flex;
  flex-direction: column;
  // align-items: center;

  &__editing {
    border: 1px solid lightseagreen;
    width: 98%;
    height: 12rem;
    border-radius: 0.25rem;
  }
}

.section :last-child {
  margin-bottom: 0;
}

.editable:not(.editing):hover {
  border-color: grey;
}

.locked {
  border-color: #ececec;
  background-color: #d1d1d1;
}
